body {
 
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}
.headline {
  color: #0b0127;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.strokeme {
  color: #00a19d;
  text-shadow: -1px -1px 0 rgb(72, 159, 181), 1px -1px 0 rgb(153, 89, 158),
    -1px 3px 0 rgb(107, 66, 136), 1px 1px 0 #000;
}
.btn {
  background-image: linear-gradient(to bottom right, #6a67ce, #a1e3d8);
  width: 40px;
  height: 40px;
  margin: 5px;
}
.btn:hover {
  background-image: linear-gradient(to bottom left, #c6751c, #005555);
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #284e78;
  color: #00a19d;
  font-weight: bold;
  opacity: 1;
}
.bg-light text-center text-white {
  height: 0px;
}

.card {
  box-shadow: 0 0 5px 0;
  background: inherit;
  backdrop-filter: blur(10px);
}

footer {
  background-image: linear-gradient( #889cf5, #ffffff);
 
}