body {
  background-image: linear-gradient(to right, #b4ff9f, #af7ab3);
  /* background: #0a0a0a; */
}
.headline {
  color: #9ddfd3;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.strokeme {
  color: #00a19d;
  text-shadow: -1px -1px 0 rgb(72, 159, 181), 1px -1px 0 rgb(153, 89, 158),
    -1px 3px 0 rgb(107, 66, 136), 1px 1px 0 #000;
}

#fom {
  color: #fff;
  font-weight: 600;
}

#result {
  height: 4rem;
  color: #fff;
  background: none;
  border: none;
  font-size: 3rem;
  font-weight: 600;
}
.rounded-3 {
  border-radius: 0rem;
}
.btn {
  height: 4rem;
  background: #da4453; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #89216b,
    #da4453
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #89216b,
    #da4453
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn:hover {
  background-image: linear-gradient(to bottom left, #c6751c, #005555);
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #284e78;
  color: #00a19d;
  font-weight: bold;
  opacity: 1;
}
.bg-light text-center text-white {
  height: 0px;
}

.card {
  box-shadow: 0 0 5px 0;
  background: inherit;
  backdrop-filter: blur(10px);
}

/* Calculator --------------- */
h5 {
  color: #fff;
}

.result-area {
  background: #ffffff22;
}

.button-area {
  background: #ffffff44;
}

.calculator {
  width: 100%;
}

.calculator tr td {
  height: 4rem;
  width: 25%;
  text-align: center;
  transition: .1s;
  font-size: 1.2rem;
}

.calculator tr .num-btn {
  background: #ffffff44;
}

.calculator tr .num-btn:hover {
  background: #00000055;
}

.calculator tr .num-btn:active {
  background: #242424;
  color: #fff;
}

.calculator tr .func-btn {
  background: #ffffff22;
}

.calculator tr .func-btn:hover {
  background: #00000033;
}

.calculator tr .func-btn:active {
  background: #242424;
  color: #fff;
}