/* CSS Reset & Global Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans";
  -webkit-appearance: none;

}

::placeholder {
  color: rgb(221, 221, 221);
}

.drop-shadow {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 2px rgba(250, 249, 229, 0.927);
  border-radius: 5px;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0d0d0e;
  transition: 0.8s all;
}

h1 {
  margin-bottom: 1.5%;
  color: #fff;
  font-weight: normal;
}

.container {
  /* width: 350px; */
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #0d0d0e;
  padding: 18px 0 18px 0;
  border: 1px solid #858585;
  border-radius: 8%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

.top-buttons {
  display: flex;
  align-items: center;
  /* padding: 3px; */
}

input {
  padding: 25px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  cursor: pointer;
  width: 70px;
  background-color: rgb(47, 51, 50);
  border: none;
  outline: none;
  border-radius: 100px;
  margin: 0.2em;
}

#toast {
  font-family: "Handlee", cursive;
  font-weight: 600;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row,
.sixth-row {
  margin-bottom: 4px;
}

.first-row {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

input[type="text"] {
  background-color: rgb(47, 51, 50);
  width: 306px;
}

input[type="button"]:hover {
  background-color: rgb(31, 30, 30);
  color: #fff;
}

.first-row {
  background: #ffffff33;
  border-radius: 10px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0 4px 4px 4px;
  margin-top: 0;
  border: 0px;
}

#clear-button {
  color: #fff;
  background-color: rgb(255, 42, 42);
}

#result {
  margin: 10px;
  background-color: #0d0d0e;
  border-radius: 10px;
  font-family: "Handlee", cursive;
  font-weight: 800;
  width: fit-content;
}

#github-icon {
  margin-right: 10px;
}

.theme-button {
  all: unset;
  cursor: pointer;
}

.foot {
  text-align: center;
  color: #fff;
  background-color: #0d0d0e;
}


.cp-text {
  color: grey;
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

body {
  background: black;
}



.date-time-div {
  padding: 1.6rem 3.2rem;
  text-align: center;
  margin-top: 50px;
  background-color: #9c36b5;
  border: 11px;
  color: #fff;
  border-radius: 11px;
  width: 300px ;
  border: 2px dotted  white ;
}

.toggle-scientific {
  all: unset;
  cursor: pointer;
  padding-left: 10px;
  padding-bottom: 5px;
  color: #fff;
}